[Unit]
Description=start gnome shell on top of X
Requires=user@32011.service
After=X11.service

[Service]
Type=simple
ExecStartPre=/usr/bin/waitforservice init.svc.vendor.hwcomposer-*
ExecStart=/usr/bin/startgnome
RemainAfterExit=true

[Install]
WantedBy=graphical.target
