[Unit]
Description=start X11
Requires=lxc@android.service
After=multi-user.target

[Service]
Type=simple
ExecStart=X -nocursor :0
Restart=always

[Install]
WantedBy=graphical.target
